---

//@ts-nocheck
import Card2 from "./Card2.astro";

const coreValues = await fetch(
  "https://frontend-design-theme.netlify.app/api/coreValues"
).then((response) => response.json());

console.log(coreValues);

const { class: className } = Astro.props;


import Button from "./Button.astro";
import ArrowRight from "../icons/arrow--right.svg";
---

<section class={className}>
  <slot/>
    <header>
        <h2>{coreValues.title}</h2>
        <div>
        <p>{coreValues.subtitle}</p>
        <Button class="default_black" buttonText="Get in touch"/>
      </div>
    </header>
    <ul>
      {
        coreValues.values.map((item) => {
          return <Card2 data={item} />;
        })
      }
       <!-- <ArrowRight class="arrow_right"/> -->
    </ul>
    
    </section>

    <!-- <section class="core_values">
        <header>
        <h2>{coreValues.title}</h2>
        <p>{coreValues.subtitle}</p>
        <Button class="default_black" buttonText="Get in touch"/>
    </header>
    <ul role="list">
        {
        coreValues.values.map((value) => (
          
             <li>
            <img src={value.icon} alt="icon"/>
              <h6>{value.title}</h6>
              <p>{value.description}</p>
              <div class="read_more">
             <a href={value.link}>Read more</a>
            <ArrowRight class="arrow_right"/>
            </div>
            </li>
            
            ))
            }
            </ul>
    </section> -->

    <style>

        section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: full;
        min-height: 60svh;
        font-family: system-ui, sans-serif;
        place-content: center;
        gap: 20px;
        background: var(--secondary01);

           > * {
            grid-column: content;
            margin-left: 5rem;
            margin-right: 5rem;
          }
         
        }

        header {
    display: grid;
    grid-template-columns:  1fr 1fr;
    

h2 {
    white-space: nowrap;
  }
        div {
        display: flex;
        grid-row: 2/3;
        grid-column: span 2;
        justify-content: space-between;
        
    }}
        
        ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        margin-left: 2rem;
      
        
          /* li {
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 4;
        gap: 1rem;
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.20);
        background: var(--secondary02);
        backdrop-filter: blur(16px);
        padding: 1.5rem;
        
        }
        
        h6, p {
          color: var(--primary03);
        } */
        }
        .read_more {
            display: flex;
            flex-direction: row;
            gap: .5rem;
            line-height: 1.6;
            align-items: center;
        
            
            a {
                font-size: 18px;
                text-decoration: none;
            }
            .arrow_right {
            width: 13.068px;
            height: 10.692px;
        
          }
        }
/* .values_grey {

}
.values_black {
background: var(--primary03); 
} */
        
        </style>